<!---
<p>
    <span style="font-style:italic;">Agency</span> is the capacity to act.
</p>
<br>
-->
<p>
A cooperative braintrust designing desirable systems, tools and thoughts to simultaneously prevent and adapt to the most radical futures.
</p>