<p>
    <span style="font-style:italic;">Agency</span> is the capacity to act.
</p>
<br>
<p>
    <span style="font-style:italic;">Decentralizing</span> agency increases this capacity by distributing it among those we trust — formalizing feedback loops and social support.
</p>
<br>
<p>
    As a collective, we deploy this framework to work on tangible and speculative projects that do not aim to be commercially viable but instead shape viable futures.
</p>