<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>

    <div class="desktop">
      <div class="sidebar">
        {% include "sidebar.njk" %}
      </div>
      
      {{ content | safe }}
    </div>

    <div class="mobile">
      
        {{ content | safe }}
      
    </div>
    
  </body>
</html>