<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "src/css/reset.css" %}
  {% include "src/css/style.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>