<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>

    <div class="homepage">

      <div class="sidebar">
        {% include "sidebar.njk" %}
      </div>
      
      <div class="homepageMobileLogo">
        <a href="/">
          <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
        </a>
      </div>

      <div class="canvasWrapper">
      <canvas id="artwork" resize=“true” onload="initializeCollisions()"></canvas>
      </div>
      
      <div class="homepageMobileAbout">
        {% include "about.njk" %}

        <div class="buttons">
            <a href="https://docs.google.com/document/d/11ekzkQiwrYxoUMbFuy7zq8Y8AIC_Ua1wD4GaRWXD_pg/edit?usp=sharing" target="_blank" class="button">The Why Paper</a>
            <a href="https://www.are.na/da-framework" target="_blank" class="button">Use Framework</a>
        </div>

        <nav class="links">
          {% include "links.njk" %}
        </nav>

    </div>
 
    <script src="https://ezekielaquino.com/external/collisions.js"></script>
    <script src="/src/js/app.js"></script>
    
  </body>
</html>