<ul>
    <li><a href="/colophon">Colophon</a></li>
    <li><a href="https://discord.gg/CHST7Sz" target="_blank" class="socials">Discord</a></li>
    <li><a href="https://www.instagram.com/decentralizedagency/" target="_blank" class="socials">Instagram</a></li>
</ul>