<ul>
    <li><a href="https://decentralizedagency.substack.com/" target="_blank">Substack ↗</a></li>
    <li><a href="https://discord.gg/CHST7Sz" target="_blank">Discord ↗</a></li>
    <li><a href="/colophon" class="colophon">Colophon</a></li>
</ul>