---
layout: base
---
<div class="mobileWrapper">
    <a href="/">
        <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
    </a>
</div>        

<div class="content">
    {{ content | safe }}
</div>

<div class="mobileWrapper">
    <div class="buttons">
        <a href="/" class="button">Back</a>
    </div>
</div>