---
layout: base
---

<div class="frame">
    {{ content | safe }}
</div>

<div class="mobileWrapperHome">

    <a href="/">
        <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
    </a>

    <p style="margin-top:2em;">
      {% include "about.njk" %}
    </p>
    

    <div class="projects">
      {% include "projects.njk" %}
  </div>

    <nav class="links">
        {% include "links.njk" %}
    </nav>

</div>