---
layout: base
---

<div class="frame">
    {{ content | safe }}
</div>

<div class="mobileWrapperHome">

    <a href="/">
        <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
    </a>

    <p style="margin-top:2em;">
      {% include "about.njk" %}
    </p>
    

    <div class="buttons">
        <a href="/thewhypaper" class="button">The Why Paper</a>
        <a href="https://www.are.na/da-framework" target="_blank" class="button">Use Framework</a>
    </div>

    <nav class="links">
        {% include "links.njk" %}
    </nav>

</div>