<div class="projectsDesktop">

<a href="/realreview">
<div class='row topRow'>
        <div class='column'>
          <div class='leftColumn'>
            Real Review #15
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            essay
          </div>
        </div>
      </div>
</a>

<a href="http://p-o.space" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            post-office
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            space
          </div>
        </div>
      </div>
</a>

<a href="http://apossible.com" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            APOSSIBLE
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
                        positioning
          </div>
        </div>
      </div>
</a>

<a href="https://www.rearc.institute" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            re:arc institute
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            consultancy
          </div>
        </div>
      </div>
</a>

<a href="/likeminds">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            Likeminds 6.0
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            talk
          </div>
        </div>
      </div>
</a>

<a href="https://hypercoop.netlify.app" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            HyperCOOP
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            concept
          </div>
        </div>
      </div>
</a>

<a href="/thewhypaper">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            The Why Paper
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            essay
          </div>
        </div>
      </div>
</a>

<a href="/about">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            About us
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            
          </div>
        </div>
      </div>
</a>

</div>


<div class="projectsMobile">

<a href="/assets/rr15da.pdf" target="_blank">
<div class='row topRow'>
        <div class='column'>
          <div class='leftColumn'>
            Real Review #15
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            essay
          </div>
        </div>
      </div>
</a>

<a href="https://www.p-o.space" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            Post-Office
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            space
          </div>
        </div>
      </div>
</a>

<a href="http://apossible.com" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            APOSSIBLE
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            positioning
          </div>
        </div>
      </div>
</a>

<a href="https://www.rearc.institute" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            re:arc institute
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            consultancy
          </div>
        </div>
      </div>
</a>



<a href="https://youtu.be/-ZlAGi3CpaU" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            Likeminds 6.0
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            talk
          </div>
        </div>
      </div>
</a>

<a href="https://hypercoop.netlify.app" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            HyperCOOP
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            concept
          </div>
        </div>
      </div>
</a>

<a href="https://docs.google.com/document/d/11ekzkQiwrYxoUMbFuy7zq8Y8AIC_Ua1wD4GaRWXD_pg/edit?usp=sharing" target="_blank">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            The Why Paper
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            essay
          </div>
        </div>
      </div>
</a>

<a href="about" target="_blank">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            About us
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            
          </div>
        </div>
      </div>
</a>

</div>