<div class="projectsDesktop">

<a href="/likeminds">
<div class='row topRow'>
        <div class='column'>
          <div class='leftColumn'>
            Likeminds 6.0
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Talk
          </div>
        </div>
      </div>
</a>

<a href="https://hypercoop.store/" target="_blank">
<div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            HyperCOOP
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Project
          </div>
        </div>
      </div>
</a>

<a href="/thewhypaper">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            The Why Paper
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Writing
          </div>
        </div>
      </div>
</a>

<a href="/openframework">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            DA Framework
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Tools
          </div>
        </div>
      </div>
</a>

<a href="/about">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            About Us
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            
          </div>
        </div>
      </div>
</a>

</div>


<div class="projectsMobile">
<a href="https://hypercoop.store/" target="_blank">
<div class='row topRow'>
        <div class='column'>
          <div class='leftColumn'>
            HyperCOOP
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Project
          </div>
        </div>
      </div>
</a>

<a href="https://docs.google.com/document/d/11ekzkQiwrYxoUMbFuy7zq8Y8AIC_Ua1wD4GaRWXD_pg/edit?usp=sharing" target="_blank">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            The Why Paper
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Writing
          </div>
        </div>
      </div>
</a>

<a href="https://www.are.na/da-framework" target="_blank">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            DA Framework
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            Tools
          </div>
        </div>
      </div>
</a>

<a href="about" target="_blank">
      <div class='row'>
        <div class='column'>
          <div class='leftColumn'>
            About Us
          </div>
        </div>
        <div class='column'>
          <div class='rightColumn'>
            
          </div>
        </div>
      </div>
</a>

</div>