<head>
  <meta http-equiv="refresh" content="0; URL=https://www.figma.com/proto/UK153tEdekoilqH0NmlmeB/DA%5C-Introduction-Deck?page-id=38%3A744&node-id=38%3A782&viewport=241%2C48%2C0.06&scaling=contain&starting-point-node-id=38%3A782" />
</head>
