<header class="logo">
  <a href="/">
    <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
  </a>
</header>

<article class="about">
   {% include "about.njk" %}
  <div class="buttons">
    <a href="https://hypercoop.store/" target="_blank" class="button">HyperCOOP ↗</a>
    <a href="/thewhypaper" class="button">The Why Paper</a>
    <a href="/openframework" class="button">Our Framework</a>
  </div>
</article>
<nav class="links">
  <ul>
    <li><a href="https://decentralizedagency.substack.com/" target="_blank">Substack ↗</a></li>
    <li><a href="https://discord.gg/CHST7Sz" target="_blank">Discord ↗</a></li>
    <li><a href="https://www.instagram.com/decentralizedagency/" target="_blank">Instagram ↗</a></li>
    <li><a href="/colophon" class="colophon">Colophon</a></li>
  </ul>
</nav>