<header class="logo">
  <a href="/">
    <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
  </a>
</header>

<article class="about">
   {% include "about.njk" %}

   <div class="projects">
      {% include "projects.njk" %}
  </div>

</article>
<nav class="links">
  {% include "links.njk" %}
</nav>