<header class="logo">
  <a href="/">
    <img src="../src/img/da_logo.svg" alt="DA\"  width="75px">
  </a>
</header>

<article class="about">
  <p>
    Decentralized Agency increases our capacity to act by distributing one's agency between those we trust: formalizing feedback loops and social support.
  </p>
  <br>
  <p>
    As a collective, we use this framework to work on tangible as well as speculative projects that are less about being commercially viable and more about shaping viable futures.
  </p>
  <div class="buttons">
    <a href="/thewhypaper" class="button">The Why Paper</a>
    <a href="/openframework" class="button">Use Framework</a>
    <a href="/projectaspirations" class="button">Project Aspirations</a>
  </div>
</article>
<nav class="links">
  <ul>
    <li><a href="https://decentralizedagency.substack.com/" target="_blank">Substack ↗</a></li>
    <li><a href="https://discord.gg/DYP7QFaT" target="_blank">Discord ↗</a></li>
    <li><a href="/colophon" class="colophon">Colophon</a></li>
  </ul>
</nav>